name: Build Module

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      
    - name: Install CMake and NDK
      run: |
        yes | sdkmanager "cmake;3.22.1"
        yes | sdkmanager "ndk;25.0.8775105"
      
    - name: Grant execute permission
      run: chmod +x gradlew
      
    - name: Build Release
      run: ./gradlew :module:assembleRelease
      
    - name: Upload Module
      uses: actions/upload-artifact@v4
      with:
        name: critical-ops-module
        path: out/*.zip
